.cards{
        border:3rem solid fuchsia;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 1rem auto;
        
    }
.cardsFrame{
    width: 80%;
    margin: 1rem auto;
}